* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  padding: 20px;
  background-color: rgb(20, 17, 101);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 90%;
  height: 60px;
  gap: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid white; */
}

.header > a {
  background-color: rgb(190, 189, 189);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  width: 20%;
  height: 100%;
  color: rgb(20, 17, 101);
  cursor: pointer;
  text-decoration: none;
  /* border: 1px solid red; */
}

.header > a:hover {
  background-color: rgb(57, 52, 192);
  color: rgb(190, 189, 189);
  transition: all ease-in-out 0.3s;
}

.header > a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 5px;
}

.about_me {
  margin-top: 100px;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 90px;
}

.img_container {
  width: 250px !important;
  height: 250px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid rgb(153, 255, 0); */
  padding: 30px;
}

#profilePhoto:hover {
  width: 230px;
  height: 230px;
}

#profilePhoto {
  width: 210px;
  height: 210px;
  cursor: pointer;
}

.about_me > span {
  font-family: "Ubuntu";
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  color: rgb(190, 189, 189);
  text-align: justify;
}

hr {
  margin-top: 100px;
  width: 80%;
  border-top: 5px dotted rgb(255, 187, 0);
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.courses {
  margin-top: 100px;
  width: 90%;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.courses > span {
  font-size: 24px;
  color: white;
  font-weight: 700;
}

.courses > ul > li {
  font-size: 18px;
  color: white;
}

.education-table {
  margin-top: 80px;
  color: rgb(20, 17, 101);
  font-size: 24px;
  width: 70%;
  border-collapse: collapse;
}

.education-table td {
  border: 3px solid rgb(190, 189, 189);
  height: 50px;
  text-align: center;
}

.education-table > thead > tr > td {
  background-color: rgb(6, 82, 232);
  color: white;
}

.education-table tr:nth-of-type(odd) {
  background-color: rgb(169, 169, 169);
}

.education-table tr:nth-of-type(even) {
  background-color: rgb(199, 198, 198);
}

.education-table td {
  border: none;
  font-weight: 700;
}

.contact-form {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.contact-form label {
  color: white;
  font-size: 24px;
}

.contact-form > button {
  width: 100px !important;
  height: 40px !important;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.contact-form > div {
  display: flex;
  gap: 20px;
}

.contact-form > div > input {
  height: 30px;
  border: none;
  border-radius: 5px;
  text-indent: 5px;
  /* margin-left: 20px; */
  width: 200px;
}

.contact-form > div > textarea {
  /* height: 30px; */
  border: none;
  border-radius: 5px;
  text-indent: 5px;
  /* margin-left: 20px; */
  width: 200px;
  height: 150px;
  resize: none;
}

.contact-form > div > textarea:focus-visible {
  outline: none;
}

.contact-form > div > input:focus-visible {
  outline: none;
}

.questionnaire {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
.questionnaire label {
  color: white;
  font-size: 24px;
}

.questionnaire > input[type="submit"] {
  width: 100px !important;
  height: 40px !important;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.questionnaire > div {
  display: flex;
  gap: 20px;
}

.questionnaire > div > input {
  height: 30px;
  border: none;
  border-radius: 5px;
  text-indent: 5px;
  /* margin-left: 20px; */
  width: 200px;
}

.questionnaire > div > textarea {
  /* height: 30px; */
  border: none;
  border-radius: 5px;
  text-indent: 5px;
  /* margin-left: 20px; */
  width: 200px;
  height: 150px;
  resize: none;
}

.questionnaire > div > textarea:focus-visible {
  outline: none;
}

.questionnaire > div > input:focus-visible {
  outline: none;
}
